
@{
    ViewBag.Title = "Homepage";
}

    <div class="product-info">
        <img src="~/img/VanGogh.jpg" alt="Pic of VanGogh"/>
        <h3>Mug</h3>
        <ul class="product-props">
            <li>Price: $9.99</li>
            <li>Artist: VanGogh</li>
            <li>Title: </li>
            <li>Description: Self-portrait</li>
        </ul>
        <button id="buy-button">Buy</button>
    </div>
    <div id="the-form">
        <form action="">
            <label for="">Your Name:</label>
            <br>
            <input type="text">
            <br>
            <label for="">Email:</label>
            <br>
            <input type="email">
            <br>
            <label for="">Subject:</label>
            <br>
            <input type="text">
            <br>
            <label for="">Message:</label>
            <br>
            <textarea name="" id="" rows="4"></textarea>
            <br>
            <input class="submit-button" type="submit" value="Send Message">
        </form>
    </div>
    